@page
@model IntroduccionRazor_ASPNet.Pages.Ejercicio2CifradoCesar

<h3 class="text-center mb-4">Cifrado César</h3>

<form method="post" class="d-flex flex-column gap-2 w-50 m-auto">
    <label for="Texto">Texto:</label>
    <input type="text" asp-for="Texto" required maxlength="100" />

    <label for="Desplazamiento">Desplazamiento (n):</label>
    <input type="number" asp-for="Desplazamiento" min="1" max="24" required />

    <label for="Operacion">Operación:</label>
    <select asp-for="Operacion" required>
        <option value="Cifrar">Cifrar</option>
        <option value="Descifrar">Descifrar</option>
    </select>

    <input type="submit" value="Procesar" class="mt-3 btn w-50 m-auto bg-success text-white" />
</form>

@if (Model.MostrarResultado)
{
    <div class="text-center mt-4">
        <h4>Texto original:</h4>
        <p><strong>@Model.Texto</strong></p>
        <h4>Texto @Model.Operacion.ToLower():</h4>
        <p><strong>@Model.Resultado</strong></p>
    </div>
}