@page
@model IntroduccionRazor_ASPNet.Pages.HolaMundoRazor


<!-- Escribamos un mensaje utilizando la sintaxis de Razor-->
@{
    var mensaje = "Hola Mundo desde ASP.NET Core";
}


    <p>Este es un mensaje de Bienvenida:@mensaje </p>
